{{ define "footer" }}
    <div class="foot" id="foot">
        <div class="footTag">{{.Company}}</div>
        <div class="realFoot" id="realFoot">
            <div class="sym">☯</div>
            <div class="footLogo">{{.Company}}</div>
        </div>
    </div>
{{ end }}
