{{ define "footer" }}
    <div class="foot" id="foot" onclick="nextPage()">
        <div class="footTag">{{.Company}}</div>
        <div class="realFoot">
            <div class="sym">☯</div>
            <div class="footLogo">{{.Company}}</div>
        </div>
    </div>
{{ end }}
