{{ define "head" }}
  <head>
    <link rel="shortcut icon" type="image/png" href="./public/assets/disc.png"/>
    <link rel="stylesheet" href="/public/css/main.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="/public/js/animations.js"></script>
    <script type="text/javascript" src="/public/js/auth.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
{{ end }}
