{{ define "sidebar" }}
<div class="sidebar" id="sidebar">                                                                   
    <!-- <div class="loginShow" id="loginKey_{{.UserData.IsLoggedIn}}" onclick="showAuth({{.UserData.IsLoggedIn}})"></div> -->                                                      
    <div class="companyName" onclick="getStream()">{{.Company}}</div>

    <ul class="navul">
        <li class="navli" id="productsLi" onclick="getStream('PRODUCTS')">PRODUCTS</li>
        <li class="navli" id="questionsLi" onclick="getPage('QUESTIONS')">QUESTIONS</li>
        <li class="navli" id="contactLi" onclick="getStream('CONTÂCT')">CONTÂCT</li>
        {{ if .UserData.IsLoggedIn }}
        <li class="navli userLikes_{{.UserData.IsLoggedIn}}" onclick="getStream({{.UserData.Name}})">
            ♡ ♡ ♡
        </li>
        {{ else }}
      {{ end }}
    </ul>
</div>
        <script>
                setCategory(window.location.pathname.substring(1).toUpperCase());
        </script>
        <style>
.navli:hover {
        background:  #fff4e3;
        color: rgb(119 107 86);
}
        </style>

 {{ end }}
